/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Colors */
$primary: #e523bb;
$secondary: #50e3c2;
$third: #0f0f3c;
$black: #000;
$grey: #ddd;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Transicion */
$transition: 0.6s ease all;
