.button {
  font-size: 16px;
  font-weight: 800;
  padding: 19px 20px;
  text-transform: uppercase;
  border: 5px solid transparent;
  display: inline-block;
  max-width: 250px;
  width: 100%;
  text-align: center;

  &__pink {
    color: #fff;
    background-color: $primary;

    &:hover {
      background-color: transparent;
      color: $primary;
      text-decoration: none;
      border-color: $primary;
    }
  }
  
  &__blue {
    color: #fff;
    background-color: $third;

    &:hover {
      background-color: $secondary;
      color: $primary;
      text-decoration: none;
    }
  }
}
