.button {
  font-size: 16px;
  font-weight: 800;
  padding: 19px 20px;
  text-transform: uppercase;
  border: 5px solid transparent;
  border-radius: 0%;
  display: inline-block;
  max-width: 250px;
  width: 100%;
  text-align: center;

  &__pink {
    color: #fff;
    background-color: $primary;

    &:hover {
      background-color: transparent;
      color: $primary;
      text-decoration: none;
      border-color: $primary;
    }
  }
  
  &__blue {
    color: #fff;
    background-color: $third;

    &:hover {
      background-color: $secondary;
      color: $primary;
      text-decoration: none;
    }
  }

  &:focus,
  &:active,
  &:focus:active {
    outline: 0;
    box-shadow: none;
  }
}

.outlinebutton {
  @extend .button;
  border: 2px solid $primary;
  background-color: #fff;
  color: $primary;

  &:hover {
    color: $third;
    background-color: $primary;
  }
}
