.button {
  font-size: 16px;
  font-weight: 800;
  padding: 22px 48px;
  text-transform: uppercase;
  border: 2px solid transparent;
  display: inline-block;

  &__pink {
    color: #fff;
    background-color: $primary;

    &:hover {
      background-color: $secondary;
      color: $primary;
      text-decoration: none;
    }
  }
  
  &__yellow {
    color: $primary;
    background-color: $secondary;

    &:hover {
      border-color: $secondary;
      background-color: $primary;
      color: $secondary;
      text-decoration: none;
    }
  }
}
