/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.flashdanceinput {
  border: 1px solid $linegrey;
  border-radius: 0;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  height: 53px;
}