/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.flashdanceinput {
  -webkit-appearance: none;
  box-shadow: none;
  border: 1px solid $linegrey;
  border-radius: 0;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  height: 53px;
}

input[type="checkbox"],
.flashdancecheckbox {
  -webkit-appearance: checkbox !important;
  padding: 0 !important;
}

.selectflash {
  -webkit-appearance: none;
  border: 0;
  border-bottom: 1px solid $linegrey;
  border-radius: 0;
  background-color: transparent;
  background-image: url('../images/icons/arrow-down-pink.svg');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 33%;
  padding: 0 16px 16px;
  margin-bottom: 20px;
  width: 100%;

  &:focus,
  &:active,
  &:active:focus {
    outline: 0;
    box-shadow: none;
  }
}

.fakeselect {
  .select2-selection {
    @extend .flashdanceinput;

    &__rendered {
      line-height: 20px;
    }

    &__arrow {
      background-image: url('../images/icons/arrow-down-pink.svg');
      background-repeat: no-repeat;
      background-position: 0 50%;
      height: 100%;
      width: 30px;

      b {
        display: none;
      }
    }
  }
}
