//HOME
.box-video {
  margin-top: -61px;
  padding: 140px 0;
  background-color: $black;
  @include clip-path(polygon(0 60px, 100% 0, 100% calc(100% - 60px), 0% 100%));
  
  @media (max-width: 991px){
    margin-top: -31px;
    @include clip-path(polygon(0 30px, 100% 0, 100% calc(100% - 30px), 0% 100%));
  }
  
  @media (max-width: 767px){
    margin-top: -16px;
    padding: 70px 0;
    @include clip-path(polygon(0 15px, 100% 0, 100% calc(100% - 15px), 0% 100%));
  }

  h2 {
    color: #fff;
  }
  
  .box-iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 80px;
    
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  
  .button {
    &:hover {
      background-color: transparent;
      border-color: $primary;
    }
  }
}

.box-text-img {
  margin: 80px 0;

  .content {
    margin-right: 30px;
    
    @media (max-width: 991px) {
      margin-right: 0;
    }
  }
  
  .img__clip {
    margin-top: 80px;
    width: 100%;
  }

  &.box-separator {
    margin-bottom: 140px;
    
    @media (max-width: 767px) {
      margin-bottom: 70px;
    }

    .container {
      &::after {
        content: "";
        height: 1px;
        width: 100%;
        display: block;
        margin: 80px 0;
        background-color: $grey;
        transform-origin: top left;
        transform: skewY(3deg);
        
        @media (max-width: 991px){
          transform: skewY(1.5deg);
        }
      }
    }
  }
  
  &:nth-child(even) {
    .row {
      flex-direction: row-reverse;

      .content {
        margin-left: 30px;
        margin-right: 0;

        @media (max-width: 991px) {
          margin-left: 0;
        }
      }
    }
  }
  
}



.box-instagram {
  background-color: $third;
  padding: 140px 0;
  margin-top: -60px;
  @include clip-path(polygon(0 60px, 100% 0, 100% 100%, 0% calc(100% - 60px)));
  
  @media (max-width: 991px){
    margin-top: -31px;
    @include clip-path(polygon(0 30px, 100% 0, 100% 100%, 0% calc(100% - 30px)));
  }
  
  @media (max-width: 991px){
    margin-top: -16px;
    @include clip-path(polygon(0 15px, 100% 0, 100% 100%, 0% calc(100% - 15px)));
  }
  
  .col-insta {
    padding: 0 5px;
    margin-top: 30px;
    min-height: 565px;
  }
  
  i {
    color: $primary;
    font-size: 40px;
  }
}

.box-testimonials {
  position: relative;
  background-color: $secondary;
  padding: 140px 0;
  @include clip-path(polygon(0 0, 100% 60px, 100% calc(100% - 60px), 0% 100%));
  
  @media (max-width: 991px){
    @include clip-path(polygon(0 0, 100% 30px, 100% calc(100% - 30px), 0% 100%));
  }
  
  @media (max-width: 767px){
    @include clip-path(polygon(0 0, 100% 15px, 100% calc(100% - 15px), 0% 100%));
  }
    
  .col-carousel {
    padding: 0;
  }
  
  .carousel-icon {
    margin: 0 auto 24px;
    display: block;
  }
  
  .content {
    text-align: center;
    
    p {
      font-size: 32px;
      font-weight: 300;
      line-height: 40px;
      margin-bottom: 24px;
      
      @media (max-width: 767px){
        font-size: 20px;
        line-height: 24px;
      }
      
    }
    .author {
      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        
        span {
          font-weight: 400;  
        }
      }
    }
  }
}

.carousel-control {
  width: 25px;
  opacity: 1;
  
  &.carousel-control-prev {
    left: 0;
  }
  
  &.carousel-control-next {
    right: 0;
  }
}

.link-to {
  font-weight: 700;
  
  .fa-chevron-right {
    font-size: 16px;
    margin-left: 8px;
  }
}

.box-last-post {
  padding: 80px 0;
  background-color: #fff;
  @include clip-path(polygon(0 0, 100% 60px, 100% calc(100% - 60px), 0% 100%));
  
  @media (max-width: 991px){
    @include clip-path(polygon(0 0, 100% 30px, 100% calc(100% - 30px), 0% 100%));
  }
  
  @media (max-width: 767px){
    padding: 60px 0;
    @include clip-path(polygon(0 0, 100% 15px, 100% calc(100% - 15px), 0% 100%));
    
    .title__primary {
      margin-bottom: 20px;
    }
    
    .link-to {
      margin-bottom: 40px;
      text-align: left;
      display: block;
    }
    
    .box-article {
      margin-bottom: 32px;
    }
  }
  
}

.box-newsletter {
  @extend .box-instagram;
  background-color: $primary;
  padding: 120px 0;
  margin-top: 0;
  
  .title__primary {
    color: #fff;
    margin-bottom: 10px;
  }
  
  p {
    color: #fff;
  }
  
  .mc4wp-form-fields {    
    input[type="email"] {
      border: 5px solid #fff;
      padding: 10.5px 24px;
      font-size: 24px;
      font-weight: 300;
      color: $primary;
      width: 100%;
      margin-right: 30px;
      transition: $transition;
      
      &:active, &:focus, &:active:focus {
        border-color: $secondary;
        outline: none;
      }
      
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
    
    @include placeholder('input', $primary);
    
    input[type="submit"] {
      border: 5px solid #fff;
      padding: 19px 30px;
      background-color: transparent;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 165px;
      width: 100%;
      color: #fff;
      cursor: pointer;
      transition: $transition;
      
      &:hover {
        background-color: #fff;
        color: $primary;
      }
      
      &:active, &:focus, &:active:focus {
        border-color: transparent;
        outline: none;
      }
      
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }
}

//BLOG
.blog {
  main {
    background-color: $bg-post;
  }
  
  .box-newsletter {
    margin-top: -60px;
  }
}

.blog-header {
  margin-top: -60px;
  padding: 120px 0 120px;
  background-color: #fff;
  @include clip-path(polygon(0 0, 100% 60px, 100% calc(100% - 60px), 0% 100%));
  
  @media (max-width: 991px){
    margin-top: -30px;
    padding: 60px 0 60px;
    @include clip-path(polygon(0 0, 100% 30px, 100% calc(100% - 30px), 0% 100%));
  }
  
  @media (max-width: 767px){
    margin-top: -15px;
    @include clip-path(polygon(0 0, 100% 15px, 100% calc(100% - 15px), 0% 100%));
  }

  .title__primary {
    margin: 0;
  }
}

.blog-content {
  padding: 80px 0 140px;
  
  article {
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #fff;
    transition: $transition;
    
    img {
      max-width: 100%;
      height: auto;
    }
    
    .content {
      padding: 32px;
      
      header {
        margin-bottom: 16px;
        
        h2 {
          line-height: 32px;

          a {
            font-size: 24px;
            color: $black;
          }
        }
      }
      
      .see-more {
        font-weight: 700;
      }
      
    }
    
    &:hover {
      background-color: $secondary;
      color: $third;
      
      a {
        color: $third;
      }
    }
    a:hover {
      text-decoration: underline;
    }

  }
}