//HOME
.box-video {
  margin-top: -61px;
  padding: 140px 0;
  background-color: $black;
  @include clip-path(polygon(0 60px, 100% 0, 100% calc(100% - 60px), 0% 100%));
  
  @media (max-width: 991px){
    margin-top: -31px;
    @include clip-path(polygon(0 30px, 100% 0, 100% calc(100% - 30px), 0% 100%));
  }
  
  @media (max-width: 767px){
    margin-top: -16px;
    padding: 70px 0;
    @include clip-path(polygon(0 15px, 100% 0, 100% calc(100% - 15px), 0% 100%));
  }

  h2 {
    color: #fff;
  }
  
  .box-iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 80px;
    
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  
  .button {
    &:hover {
      background-color: transparent;
      border-color: $primary;
    }
  }
}

.box-text-img {
  margin: 80px 0;

  .content {
    margin-right: 30px;
    
    @media (max-width: 991px) {
      margin-right: 0;
    }
  }
  
  .img__clip {
    margin-top: 80px;
    width: 100%;
  }
  
  &:nth-child(odd) {
    .row {
      flex-direction: row-reverse;

      .content {
        margin-left: 30px;
        margin-right: 0;

        @media (max-width: 991px) {
          margin-left: 0;
        }
      }
    }
  }
}

.box-separator {
  margin-bottom: 140px;

  @media (max-width: 767px) {
    margin-bottom: 70px;
  }

  .container {
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      display: block;
      margin: 80px 0;
      background-color: $grey;
      transform-origin: top left;
      transform: skewY(3deg);

      @media (max-width: 991px){
        transform: skewY(1.5deg);
      }
    }
  }
  
  &__invert {
    .container {
      &::after {
        transform: skewY(-3deg);

        @media (max-width: 991px){
          transform: skewY(-1.5deg);
        }
      }
    }
  }
}

.box-instagram {
  background-color: $third;
  padding: 140px 0;
  margin-top: -60px;
  @include clip-path(polygon(0 60px, 100% 0, 100% 100%, 0% calc(100% - 60px)));
  
  @media (max-width: 991px){
    margin-top: -31px;
    @include clip-path(polygon(0 30px, 100% 0, 100% 100%, 0% calc(100% - 30px)));
  }
  
  @media (max-width: 767px){
    margin-top: -16px;
    @include clip-path(polygon(0 15px, 100% 0, 100% 100%, 0% calc(100% - 15px)));
  }
  
  .col-insta {
    padding: 0 5px;
    margin-top: 30px;
    min-height: 565px;
  }
  
  i {
    color: $primary;
    font-size: 40px;
  }
}

.box-testimonials {
  margin-top: -60px;
  position: relative;
  background-color: $secondary;
  padding: 140px 0;
  @include clip-path(polygon(0 0, 100% 60px, 100% calc(100% - 60px), 0% 100%));
  
  @media (max-width: 991px){
    margin-top: -30px;
    @include clip-path(polygon(0 0, 100% 30px, 100% calc(100% - 30px), 0% 100%));
  }
  
  @media (max-width: 767px){
    margin-top: -15px;
    @include clip-path(polygon(0 0, 100% 15px, 100% calc(100% - 15px), 0% 100%));
  }
    
  .col-carousel {
    padding: 0;
  }
  
  .carousel-icon {
    margin: 0 auto 24px;
    display: block;
  }
  
  .content {
    text-align: center;
    
    p {
      font-size: 32px;
      font-weight: 300;
      line-height: 40px;
      margin-bottom: 24px;
      
      @media (max-width: 767px){
        font-size: 20px;
        line-height: 24px;
      }
      
    }
    .author {
      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        
        span {
          font-weight: 400;  
        }
      }
    }
  }
}

.carousel-control {
  width: 25px;
  opacity: 1;
  
  &.carousel-control-prev {
    left: 0;
  }
  
  &.carousel-control-next {
    right: 0;
  }
}

.link-to {
  font-weight: 700;
  
  .fa-chevron-right {
    font-size: 16px;
    margin-left: 8px;
  }
}

.box-last-post {
  padding: 80px 0;
  background-color: #fff;
  @include clip-path(polygon(0 0, 100% 60px, 100% calc(100% - 60px), 0% 100%));
  
  @media (max-width: 991px){
    @include clip-path(polygon(0 0, 100% 30px, 100% calc(100% - 30px), 0% 100%));
  }
  
  @media (max-width: 767px){
    padding: 60px 0;
    @include clip-path(polygon(0 0, 100% 15px, 100% calc(100% - 15px), 0% 100%));
    
    .title__primary {
      margin-bottom: 20px;
    }
    
    .link-to {
      margin-bottom: 40px;
      text-align: left;
      display: block;
    }
    
    .box-article {
      margin-bottom: 32px;
    }
  }
  
}

.box-newsletter {
  @extend .box-instagram;
  background-color: $primary;
  padding: 120px 0;
  margin-top: 0;
  
  .title__primary {
    color: #fff;
    margin-bottom: 10px;
  }
  
  p {
    color: #fff;
  }
  
  .mc4wp-form-fields {    
    input[type="email"] {
      border: 5px solid #fff;
      padding: 10.5px 24px;
      font-size: 24px;
      font-weight: 300;
      color: $primary;
      width: 100%;
      margin-right: 30px;
      transition: $transition;
      
      &:active, &:focus, &:active:focus {
        border-color: $secondary;
        outline: none;
      }
      
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
    
    @include placeholder('input', $primary);
    
    input[type="submit"] {
      border: 5px solid #fff;
      padding: 19px 30px;
      background-color: transparent;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 165px;
      width: 100%;
      color: #fff;
      cursor: pointer;
      transition: $transition;
      
      &:hover {
        background-color: #fff;
        color: $primary;
      }
      
      &:active, &:focus, &:active:focus {
        border-color: transparent;
        outline: none;
      }
      
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }
}

//BLOG
.blog {
  main {
    background-color: $bg-post;
  }
  
  .box-newsletter {
    margin-top: -60px;
  }
}

.blog-header {
  margin-top: -60px;
  padding: 120px 0 120px;
  background-color: #fff;
  @include clip-path(polygon(0 0, 100% 60px, 100% calc(100% - 60px), 0% 100%));
  
  @media (max-width: 991px){
    margin-top: -30px;
    padding: 60px 0 60px;
    @include clip-path(polygon(0 0, 100% 30px, 100% calc(100% - 30px), 0% 100%));
  }
  
  @media (max-width: 767px){
    margin-top: -15px;
    @include clip-path(polygon(0 0, 100% 15px, 100% calc(100% - 15px), 0% 100%));
  }

  .title__primary {
    margin: 0;
  }
}

.blog-content {
  padding: 80px 0 140px;
  
  article {
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #fff;
    transition: $transition;
    
    a {
      display: block;
      color: $black;
      text-decoration: none;
      
      &:hover {
        text-decoration: none;
      }
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
    
    .content {
      padding: 32px;
      
      header {
        margin-bottom: 16px;
        
        h2 {
          line-height: 32px;
          font-size: 24px;
        }
      }
      
      p.see-more {
        font-weight: 700;
        color: $primary;
        margin: 0;
      }
      
    }
    
    &:hover {
      background-color: $secondary;
      color: $third;
      
      a {
        color: $third;
      }
    }

  }
}

.row-ajax {
  padding-top: 80px;
  padding-bottom: 80px;
}

.loadmore_button {
  border: 4px solid $primary;
  border-radius: 100%;
  position: relative;
  height: 64px;
  width: 64px;
  margin: 80px auto;
  line-height: 54px;
  cursor: pointer;
  
  &:hover {
    animation:spin 2s linear infinite;
  }
  
  &.rotate {
    animation:spin 2s linear infinite;
  }
  
  @keyframes spin { 
    100% { 
      transform:rotate(360deg); 
    } 
  }
}

// ELENCO
.section-header {
  margin-top: -60px;
  padding: 120px 0 60px;
  background-color: #fff;
  @include clip-path(polygon(0 0, 100% 60px, 100% 100%, 0% 100%));
  
  @media (max-width: 991px){
    margin-top: -30px;
    padding: 60px 0 60px;
    @include clip-path(polygon(0 0, 100% 30px, 100% 100%, 0% 100%));
  }
  
  @media (max-width: 767px){
    margin-top: -15px;
    @include clip-path(polygon(0 0, 100% 15px, 100% 100%, 0% 100%));
  }
  
  .content {
    p {
      font-size: 18px;
      line-height: 32px;
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.box-elenco {
  background-color: #fff;
  margin-bottom: 60px;
  
  .container:nth-child(2):after {
    display: none;
  }
  
  .team-elenco {
    position: relative;
    display: block;
    margin-bottom: 30px;
    @include clip-path(polygon(0 10px, 100% 0, 100% calc(100% - 10px), 0% 100%));
    
    img {
      width: 100%;
    }
    
    &:hover {
      .box-info {
        opacity: 1;
      }
    }
    
    .box-info {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: rgba(15, 15, 60, 0.9);
      transition: $transition;
      
      p {
        color: $primary;
        margin-bottom: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        span {
          color: inherit;
          font-style: italic;
          text-transform: uppercase;
        }
      }
    }
  }
  
  .box-info {
    p {
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 5px;
      color: $black;
      transition: $transition;
      
      span {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        transition: $transition;
        display: block;

        &:before {
          content: "/";
          margin-right: 5px;
        }
      }
    }
  }
  
  .team {
    margin-bottom: 30px;
    text-decoration: none;
        
    &:hover {
      .box-info {
        p, span {
          color: $primary;
        }
      }
    }
  }
  
  // MODAL ELENCO
  #modal-elenco {
    position: fixed;
    padding: 20% 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(15, 15, 60, 0.9);
    visibility: hidden;
    transition: opacity .15 linear;

    &.open {
      visibility: visible;
      animation: fadeIn 1s;
      transition: opacity .15 linear;
    }

    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }

    .box-info {
      p, span {
        color: $primary;
      }
      
      span {
        display: block;
      }
    }

    .contenido-elenco {
      color: #fff;
    }
    
    .container:after {
      display: none;
    }
    
    .close_modal {
      display: block;
      height: 40px;
      width: 40px;
      position: relative;
      transition: none;
      position: absolute;
      top: 20px;
      right: 20px;
      
      span {
        width: 50px;
        height: 3px;
        left: 0;
        position: absolute;
        top: 0;
        background-color: $primary;
        transform: rotate(45deg);
        transform-origin: left center;

        &:nth-child(2){
          transform: rotate(-45deg);
          top: 35px;
        }
      }
    }
  }
}

body.modal-open {
  overflow: hidden;
}

// PAGINA 404, BUSQUEDA
.search-form {
  margin: 24px 0;
  
  .search-field, .search-submit {
    border-radius: 0;
    border: 5px solid $primary;
    padding: 10.5px 24px;
    font-size: 24px;
    font-weight: 300;
    color: #e523bb;
    height: 72px;
    
    &:focus, &:active, &:active:focus {
      outline: none;
      box-shadow: none;
      border-color: $primary;
    }
  }
  
  .search-field {
    margin-right: 30px;
  }
  
  .search-submit {
    background-color: $primary;
    color: #fff;
    transition: $transition;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    
    &:hover {
      background-color: transparent;
      color: $primary;
      border-color: $primary;
    }
  }
  
}

// PAGINA OPINIONES
.template-opiniones {
  background-color: $bg-post;

  .box-opiniones {
    padding: 60px 0 140px;

    .grid-item {
      margin-bottom: 30px;

      .opinion-content {
        background-color: #fff;
        text-align: center;
        padding: 40px;

        img {
          margin-bottom: 40px;
        }

        p {
          font-weight: 300;
          font-size: 20px;
          line-height: 32px;
        }

        .button {
          text-transform: initial;
          margin: 40px auto 0;
          display: inline-block;
          max-width: 100%;
        }
      }

      .opinion-footer {
        background-color: $third;
        margin-top: -10px;
        padding: 42px 40px  32px;
        text-align: center;
        @include clip-path(polygon(0 10px, 100% 0, 100% 100%, 0% 100%));

        p {
          color: $secondary;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.filter-icon {

  a {
    width: 32px;
    height: 19px;
    position: relative;
    display: block;

    &:after {
      display: none;
    }

    span {
      width: 100%;
      height: 3px;
      right: 0;
      position: absolute;
      display: block;
      background-color: black;

      &:nth-child(2) {
        top: 8px;
        width: 20px;
      }

      &:nth-child(3) {
        bottom: 0;
        width: 10px;
      }
    }
  }
}

#filters {
  visibility: hidden;
  position: absolute;
  z-index: 20;
  top: -170px;
  right: 15px;
  max-width: 200px;
  width: 100%;
  display: block;
  text-align: right;
  background-color: #fff;
  transition: $transition;
  border: 1px solid #ddd;
  opacity: 0;

  @media (max-width: 991px) {
    top: -100px
  }

  p {
    cursor: pointer;
    line-height: 24px;
    padding: 13px 30px;
    border-bottom: 1px solid #ddd;
    margin: 0;
    transition: $transition;

    &:last-of-type {
      border: 0;
    }

    &.is-checked, &:hover {
      color: $primary;
    }
  }


  &.open {
    visibility: visible;
    opacity: 1;
  }
}
