//HOME
.box-header {
  height: 800px;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: $black;
  @include clip-path(polygon(0 0, 100% 0, 100% calc(100% - 60px), 0% 100%));

  .custom-logo-link {
    margin-top: 190px;
    display: block;
    margin-bottom: 80px;
  }
  
  .row-countdown {
    text-align: center;
    
    span{
      display: block;
      font-weight: 700;
      color: $primary;
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 8px;
    }
    
    p {
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
    }
  }
}

.box-video {
  margin-top: -61px;
  padding: 140px 0;
  background-color: $black;
  @include clip-path(polygon(0 60px, 100% 0, 100% calc(100% - 60px), 0% 100%));

  h2 {
    color: #fff;
  }

  .video-content {
    margin-bottom: 80px;
  }
  
  .button {
    &:hover {
      background-color: transparent;
      border-color: $primary;
    }
  }
}

.box-text-img {
  margin: 80px 0;

  .content {
    margin-right: 30px;
  }
  
  .img__clip {
    margin-top: 80px;
  }

  &.box-separator {
    margin-bottom: 140px;

    .container {
      &::after {
        content: "";
        height: 1px;
        width: 100%;
        display: block;
        margin: 80px 0;
        background-color: $grey;
        transform-origin: top left;
        transform: skewY(3deg);
      }
    }
  }
}

.box-text-img:nth-child(even) {
  .row {
    flex-direction: row-reverse;

    .content {
      margin-left: 30px;
      margin-right: 0;
    }
  }
}

.box-instagram {
  background-color: $third;
  padding: 140px 0;
  margin-top: -60px;
  @include clip-path(polygon(0 60px, 100% 0, 100% 100%, 0% calc(100% - 60px)));
  
  .col-insta {
    padding: 0 5px;
    margin-top: 30px;
    min-height: 565px;
  }
  
  i {
    color: $primary;
    font-size: 40px;
  }
}

.box-testimonials {
  position: relative;
  background-color: $secondary;
  padding: 140px 0;
  @include clip-path(polygon(0 0, 100% 60px, 100% calc(100% - 60px), 0% 100%));
  
  .col-carousel {
    padding: 0;
  }
  
  .carousel-icon {
    margin: 0 auto 24px;
    display: block;
  }
  
  .content {
    text-align: center;
    
    p {
      font-size: 32px;
      font-weight: 300;
      line-height: 40px;
      margin-bottom: 24px;
    }
    .author {
      p {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        
        span {
          font-weight: 400;  
        }
      }
    }
  }
}

.carousel-control {
  width: 25px;
  opacity: 1;
  
  &.carousel-control-prev {
    left: 0;
  }
  
  &.carousel-control-next {
    right: 0;
  }
}

.link-to {
  font-weight: 700;
  
  .fa-chevron-right {
    font-size: 16px;
    margin-left: 8px;
  }
}

.box-last-post {
  padding: 80px 0;
}

.box-newsletter {
  @extend .box-instagram;
  background-color: $primary;
  padding: 120px 0;
  margin-top: 0;
  
  .title__primary {
    color: #fff;
    margin-bottom: 10px;
  }
  
  p {
    color: #fff;
  }
  
  .mc4wp-form-fields {    
    input[type="email"] {
      border: 5px solid #fff;
      padding: 10.5px 24px;
      font-size: 24px;
      font-weight: 300;
      color: $primary;
      width: 100%;
      margin-right: 30px;
      transition: $transition;
      
      &:active, &:focus, &:active:focus {
        border-color: $secondary;
        outline: none;
      }
    }
    
    @include placeholder('input', $primary);
    
    input[type="submit"] {
      border: 5px solid #fff;
      padding: 19px 30px;
      background-color: transparent;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 165px;
      width: 100%;
      color: #fff;
      cursor: pointer;
      transition: $transition;
      
      &:hover {
        background-color: #fff;
        color: $primary;
      }
      
      &:active, &:focus, &:active:focus {
        border-color: transparent;
        outline: none;
      }
    }
  }
}
