.box-article {
  a {
    .img-post {
      background-size: cover;
      background-position: center;
      min-height: 240px;
      margin-bottom: 16px;
      position: relative;
      
      &:after {
        background-color: $primary;
        opacity: 0;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: $transition;
      }
    }
  
    h3 {
      color: $black;
      font-weight: 700;
      line-height: 32px;
      font-size: 24px;
      position: relative;
      transition: $transition;
    }
  
    p {
      color: $black;
      line-height: 24px;
    }
  

    
    &:hover {
      text-decoration: none;
      
      .img-post {
        &:after {
          opacity: 0.4;
        }
      }
      
      h3 {
        text-decoration: underline;
      }
    } 
    
  }
}
